.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: rgb(247, 247, 247);
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
}

.card img {
  height: 70px;
  width: 70px;
}
